.card {
    background: wheat;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-bottom: 20px;
    padding: 30px;
}

.contact {
    display: flex;
    flex-direction: row;
}

.contact img {
    float: left;
    flex-basis: 25%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
}

.contact .info {
    flex-basis: 75%;
}

li {
    list-style: none;
}